# Dependencias de Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de Entorno (¡MUY IMPORTANTE: NO SUBIR!)
.env

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Base de Datos SQLite (Opcional: Ignorar si no quieres subir datos reales)
*.db
*.sqlite
*.sqlite3

# Archivos Temporales Generados
temp/
uploads/
*.log